footer {
  background-color: red;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  color: white;
}

footer img {
  width: 200px;
}

.info-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-contato div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.5rem;
}

.info-contato div p {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-contato div a {
  text-decoration: none;
  color: white;
}

.info-contato div a img {
  width: 50px;
}