body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}

.card-carro {
  display: flex;
  gap: 30px;
  padding: 10px;
  width: 50%;
}

.slider {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider img {
  width: 500px;
  transition: 5s;
}

.info-carro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.info-carro h1 {
  text-align: center;
  font-size: 2.5rem;
}

.info-carro p {
  font-size: 1.25rem;
  text-align: justify;
}

.info-carro p span {
  color: green;
}

button {
  padding: 10px 20px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 1.25rem;
  transition: 0.5s;
  cursor: pointer;
}

#btnVoltar:hover {
  transform: translateY(-5px);
}
