@import "header.css";
@import "footer.css";
@import "global.css";

.main-produtos {
  padding: 20px;
}

.section-produtos {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.section-produtos div {
  text-align: center;
  padding-bottom: 20px;
  border-radius: 10px;
  transition: .30s; 
}

.section-produtos div:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
  transform: translateY(-2px);
  transform: scale(1.025);
  cursor: pointer;
}

.section-produtos img {
  width: 400px;
}

.section-produtos div i {
  font-size: 1.25rem;
}

.section-produtos div span {
  color: green;
  font-weight: bold;
}

footer {
  background-color: red;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  color: white;
}

footer img {
  width: 200px;
}

.info-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-contato div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.5rem;
}

.info-contato div p {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-contato div a {
  text-decoration: none;
  color: white;
}

.info-contato div a img {
  width: 50px;
}